<div class="container h-100">
    <div class="card border-0 shadow-sm rounded overflow-hidden bg-light mb-3">
        <div class="card-body text-center">
            <div class="row text-success me-3">
                <div class="col-12">
                    <i class="fa fa-car-side fa-6x mb-3"></i>
                    <h1 class="display-4">{{ totalCarsCount }}</h1>
                    <p class="lead">Total Active Rentals</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0 shadow-sm rounded overflow-hidden bg-light mt-3">
        <div class="card-body text-center">
            <div class="row text-primary me-3">
                <div class="col-12">
                    <i class="fa fa-money-bill-wave fa-6x mb-3"></i>
                    <h1 class="display-6">{{ totalRentalsCount | currency }}</h1>
                    <p class="lead">Total Revenue</p>
                </div>
            </div>
        </div>
    </div>
</div>