<div class="text-center">
            <div class="text-center">
          <h3 class="text-dark">
            {{ car?.brand }} {{ car?.model }}
          </h3>
          <img  [src]="car?.imageUrl" alt="{{ car?.brand }} {{ car?.model }}" class="img-fluid mb-3" style="max-height: 600px; max-width: 60%;" />
          <div  class="container">
            <div class="table-responsive ">
              <table class="table table-bordered border-light ">
                <tbody class="text-dark">
                  <tr>
                    <th>
                      <i class="fa fa-car"></i>
                      Brand
                    </th>
                    <td>{{ car?.brand }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-car"></i>
                      Model
                    </th>
                    <td>{{ car?.model }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-calendar"></i>
                      Year
                    </th>
                    <td>{{ car?.year }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-tachometer-alt"></i>
                      Current Km
                    </th>
                    <td>{{ car?.currentKm | number:'1.0-0' }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-car"></i>
                      Plate Number
                    </th>
                    <td>{{ car?.plateNumber }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-door-open"></i>
                      Doors
                    </th>
                    <td>{{ car?.doors }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-users"></i>
                      Capacity
                    </th>
                    <td>{{ car?.capacity }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-leaf"></i>
                      Emission Class
                    </th>
                    <td>{{ car?.emissionClass }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-gas-pump"></i>
                      Fuel Type
                    </th>
                    <td>{{ car?.fuelType }}</td>
                  </tr>
                  <tr>
                    <th>
                      <i class="fa fa-cogs"></i>
                      Transmission
                    </th>
                    <td>{{ car?.transmission }}</td>
                  </tr>

                </tbody>

              </table>

            </div>

          </div>
        
        </div>
        
        </div>